<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bysj.weijia.greenhousemonitor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="bysj.weijia.greenhousemonitor.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_monitor"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="bysj.weijia.greenhousemonitor.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="bysj.weijia.greenhousemonitor.activity.SigninActivity" >
        </activity>
        <activity android:name="bysj.weijia.greenhousemonitor.activity.MonitorPointActivity" >
        </activity>
        <activity android:name="bysj.weijia.greenhousemonitor.activity.MonitorActivity" >
        </activity>
        <activity android:name="bysj.weijia.greenhousemonitor.activity.SignupActivity" >
        </activity>
        <activity android:name="bysj.weijia.greenhousemonitor.activity.AnalyzeActivity" >
        </activity>
    </application>

</manifest>